<div class="container">
  <button (click)="addServer()"
          class="btn btn-primary">Add Server</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let server of servers | sort" 
        [ngClass]="server.status === 'stable' ? 'list-group-item-success' : 'list-group-item-warning'">
        {{ server.name | uppercase }} | 
        {{ server.size | uppercase | reverse }} | 
        {{ server.creationDate | date:'fullDate' }} 
        <span class="badge">{{ server.status }}</span>
    </li>
  </ul>
</div>