<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <router-outlet></router-outlet>
      
      <!--<app-recipes *ngIf="currentView === 'recipes'"></app-recipes>
      <app-shopping-list *ngIf="currentView === 'shopping'"></app-shopping-list>-->
      <!--<app-game-control (gameStarted)=onGameStart($event)></app-game-control>-->
      <!--<p appBasicHighlight>Style me with basic directive!</p>
      <p appBetterHighlight [defaultColor]="'orange'" [highlightColor]="'yellow'">Style me with basic directive!</p>
      <p *appUnless="true">I'm a structural directive!</p>-->

      <!--<app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>-->
    </div>
  </div>
</div>